@import "./../../shared/Scss-snippets.scss";
.projects-component {
    @include flex-box(center, normal, column);
    row-gap: 48px;
    .project-info-container {
        @include flex-box(center, normal, column);
        column-gap: 32px;
        a {
            text-decoration: none;
        }
        h2 {
            color: $color-dark-two !important;
            margin: 0 0 24px 0;
            font-weight: 600;
            font-size: 28px;
        }
    }

    .project {
        @include flex-box(normal, normal, row);
        background-color: #f3fdf9;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1),
            0px 0px 5px -2px rgb(0, 0, 0);
        // column-gap: 32px;
        border-radius: 8px;
        // 3D Look
        // color: #ffffff;
        // padding: 10px 20px;
        // background: -moz-linear-gradient(
        //     top,
        //     #ffcb69 0%,
        //     #f0a733 50%,
        //     #f2a324 92%,
        //     #ffb730
        // );
        // background: -webkit-gradient(
        //     linear,
        //     left top,
        //     left bottom,
        //     from(#ffcb69),
        //     color-stop(0.5, #f0a733),
        //     color-stop(0.92, #f2a324),
        //     to(#ffb730)
        // );
        // -moz-border-radius: 6px;
        // -webkit-border-radius: 6px;
        // border-radius: 6px;
        // border: 1px solid #965f06;
        // -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
        //     inset 1px 2px 0px rgba(255, 255, 255, 0.4);
        // -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
        //     inset 1px 2px 0px rgba(255, 255, 255, 0.4);
        // box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
        //     inset 1px 2px 0px rgba(255, 255, 255, 0.4);
        // text-shadow: 1px 1px 2px rgba(000, 000, 000, 0.7),
        //     0px 1px 0px rgba(255, 255, 255, 0.4);
        .info-text {
            @include flex-box(center, normal, row);
            padding-right: 24px;
            ul {
                @include flex-box(center, normal, column);
                row-gap: 8px;
                line-height: 32px;
                margin: 0;
                // text-align: justify;
                list-style-type: none;
                li {
                    align-self: self-start;
                }
                .info {
                    display: none;
                }
                .tick {
                    margin-right: 4px;
                    font-size: 20px;
                }
                :nth-child(1) {
                    font-weight: 600;
                    .info {
                        display: inline-block;
                        font-size: 24px;
                    }
                    .tick {
                        display: none;
                    }
                }
            }
        }
    }
    .project-info-container:nth-of-type(2n) {
        .project {
            flex-direction: row-reverse;
            background-color: #f9edf9;
            column-gap: 32px;
            .info-text {
                padding: 0;
            }
        }
    }
    .image-container {
        min-width: 600px;
        width: 600px;
        height: auto;
        max-height: 390px;
        // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1),
        //     0px 0px 5px -2px rgb(0, 0, 0);
        img {
            width: 100%;
            height: 100%;
            border-radius: 8px;
        }
    }
    .more-project {
        color: $color-dark-two;
        cursor: pointer;
        font-weight: 500;
    }
}
@media (width <= 1280px) {
    .projects-component {
        .project {
            flex-direction: column;
            padding: 24px;
            row-gap: 24px;
            .info-text {
                ul {
                    padding: 0 0 0 14px;
                }
            }
        }
        .image-container {
            margin: auto;
            box-shadow: 0px 1px 1px rgba(0.3, 0.3, 0.3, 0.3),
                0px 0px 0px 0px rgb(0, 0, 0);
            border: 3px solid #fff;
            border-radius: 4px;
        }
        .project-info-container:nth-of-type(2n) {
            .project {
                flex-direction: column;
                padding: 24px;
                row-gap: 24px;
            }
        }
    }
}
@media (width <= 768px) {
    .projects-component {
        .project {
            padding: 16px;
        }
        .project-info-container:nth-of-type(2n) {
            .project {
                padding: 16px;
            }
        }
        .image-container {
            min-width: unset;
            width: 100%;
        }
    }
}
@media (width <= 640px) {
    .projects-component {
        row-gap: 24px;
        .project {
            padding: 8px;
            .info-text {
                flex-direction: column;
                row-gap: 16px;
            }
            .more-container {
                font-size: 13px;
                font-weight: 500;
                color: $color-dark-two;
            }
            .info-text {
                ul {
                    font-size: 13px;
                    line-height: 24px !important;
                    .tick {
                        font-size: 16px;
                    }
                    .info {
                        font-size: 20px !important;
                    }
                }
            }
        }

        .project-info-container {
            h2 {
                margin: 0 0 16px 0;
                font-size: 18px;
            }
        }
        .project-info-container:nth-of-type(2n) {
            .project {
                padding: 8px;
            }
        }
        .image-container {
            height: auto;
        }
    }
}
