@import "./../../shared/Scss-snippets.scss";
.projects-component {
    @include flex-box(normal, normal, column);
    row-gap: 32px;
    .project-info-container {
        @include flex-box(center, normal, column);
        column-gap: 32px;
        h2 {
            color: #4062fa;
        }
    }

    .project {
        @include flex-box(normal, normal, row);
        background-color: #f3fdf9;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1),
            0px 0px 5px -2px rgb(0, 0, 0);
        // column-gap: 32px;
        .info-text {
            @include flex-box(center, normal, row);
            ul {
                @include flex-box(center, normal, column);
                row-gap: 8px;
                line-height: 32px;
                // padding: 0;
                margin: 0;
                li {
                    align-self: self-start;
                }
                :nth-child(1) {
                    font-weight: 600;
                }
            }
        }
    }
    .project-info-container:nth-of-type(2n) {
        .project {
            flex-direction: row-reverse;
            background-color: #f9edf9;
            column-gap: 32px;
        }
    }
    .image-container {
        min-width: 600px;
        width: 600px;
        height: 340px;
        // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1),
        //     0px 0px 5px -2px rgb(0, 0, 0);
        border-radius: 4px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
@media (width <= 1280px) {
    .projects-component {
        .project {
            flex-direction: column;
            padding: 24px;
            row-gap: 24px;
            .info-text {
                ul {
                    padding: 0 0 0 14px;
                }
            }
        }
        .image-container {
            margin: auto;
            box-shadow: 0px 1px 1px rgba(0.3, 0.3, 0.3, 0.3),
                0px 0px 0px 0px rgb(0, 0, 0);
            border: 3px solid #fff;
            border-radius: 4px;
        }
        .project-info-container:nth-of-type(2n) {
            .project {
                flex-direction: column;
                padding: 24px;
                row-gap: 24px;
            }
        }
    }
}
@media (width <= 768px) {
    .projects-component {
        .project {
            padding: 16px;
        }
        .project-info-container:nth-of-type(2n) {
            .project {
                padding: 16px;
            }
        }
        .image-container {
            min-width: unset;
            width: 100%;
        }
    }
}

@media (width <= 640px) {
    .projects-component {
    }
}
