@import "./../../Shared/Scss-snippets.scss";
.home-component {
    padding: 0 0 6em;
    @include flex-box(normal, normal, column);
    .base {
        margin-bottom: 48px;
    }
    .headings {
        font-size: 40px;
        font-weight: 600;
        margin: 0 0 24px;
        width: fit-content;
    }
    .pdf-viewer-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        z-index: 999;
        .close-button {
            background-color: Yellow;
            color: #333;
            border: 1px solid #333;
            border-radius: 4px;
            height: 40px;
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin: 8px auto;
        }
    }
    .welcome-section {
        background-color: #fff;
        @include flex-box(center, center, row);
    }
    .about-section {
        background-color: #fff;
        padding-top: 32px;
    }
    .project-section {
        background-color: #fff;
    }
    .education-section {
        background-color: #fff;
    }
    .contact-section {
        background-color: #fff;
    }
    .outro-section {
        background-color: #fff;
    }
    q {
        text-align: center;
        font-style: italic;
        margin-bottom: 8px;
        font-family: fangsong;
        margin-bottom: 8px;
    }
    .thanks {
        text-align: center;
        color: #7d0000;
        font-size: 8px;
        a {
            color: #0070ff !important;
        }
    }
}

@media (width <= 1280px) {
    .home-component {
        .base {
            // padding: 0 0 32px;
        }
        .about-section {
            padding: 0;
        }
    }
}
@media (width <= 640px) {
    .home-component {
        .base {
            margin-bottom: 40px;
        }
        .headings {
            font-size: 28px;
            margin: 0 0 16px;
        }
        q {
            font-size: 13px;
        }
        .thanks {
            font-size: 6px;
        }
    }
}
