@import "./../../Shared/Scss-snippets.scss";
.home-component {
    .base {
        // height: 100vh;
        // position: sticky;
        // bottom: 0;
        // @include flex-box(center, center);
        // box-sizing: border-box;
        // padding: 96px 32px 32px 32px;
        // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        //     rgba(0, 0, 0, 0.23) 0px 3px 6px;
        padding: 32px 0;
    }
    .pdf-viewer-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        z-index: 999;
        .close-button {
            background-color: Yellow;
            color: #333;
            border: 1px solid #333;
            border-radius: 4px;
            height: 40px;
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin: 8px auto;
        }
    }
    .welcome-section {
        background-color: #fff; // #89c4ff; //#e7e6fc; //
        // z-index: 11;
        @include flex-box(center, center, row);
    }
    .about-section {
        background-color: #fff;
        // z-index: 9;
        /**
            Shortlisted colours:
            
            2. #d5def5;
            3. #d3d6db; *
            4. #f5f9ee **
        */
    }
    .project-section {
        background-color: #fff;
        // z-index: 7;
    }
    .education-section {
        background-color: #fff;
        // z-index: 5;
    }
    .contact-section {
        background-color: #fff;
        // z-index: 3;
    }
    .outro-section {
        background-color: #fff;
        // z-index: 1;
    }
}
