@import "./../../Shared/Scss-snippets.scss";
.home-component {
    .base {
        height: 100vh;
        position: sticky;
        bottom: 0;
        // @include flex-box(center, center);
        box-sizing: border-box;
        padding: 64px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    .inner {
        height: 100%;
        width: 100%;
        border: 4px solid #fff;
    }
    .scroll-helper {
        // position: relative;
        // top: -56px;
    }
    .welcome-section {
        background-color: #89c4ff; //#e7e6fc; //
        z-index: 11;
        @include flex-box(center, center);
    }
    .about-section {
        background-color: #f5f9ee;
        z-index: 9;
        /**
            Shortlisted colours:
            
            2. #d5def5;
            3. #d3d6db; *
            4. #f5f9ee **
        */
    }
    .project-section {
        background-color: palevioletred;
        z-index: 7;
    }
    .education-section {
        background-color: yellowgreen;
        z-index: 5;
    }
    .contact-section {
        background-color: goldenrod;
        z-index: 3;
    }
    .outro-section {
        background-color: lavenderblush;
        z-index: 1;
    }
}
