@import "./../../Shared/Scss-snippets.scss";
.about-component {
    @include flex-box(center, center, column);
    row-gap: 56px;
    .profile-cover {
        display: none;
    }
    .intro-section {
        @include flex-box(center, normal, row);
        column-gap: 64px;
    }
    .intro-text-links {
        @include flex-box(normal, normal, column);
        row-gap: 32px;
    }
    .me {
        position: relative;
        top: 16px;
        h2 {
            line-height: 1;
            font-size: 40px;
            font-weight: 600;
            letter-spacing: 1.2px;
        }
        h2:hover {
            text-decoration: underline;
            text-decoration-thickness: from-font;
        }
        p {
            font-weight: 500;
            font-size: 20px;
            color: #0710c3;
        }
    }
    .text {
        @include flex-box(normal, normal, column);
        @include font-style(16px, normal, 32px, normal, $color-dark-one);
        row-gap: 16px;
        text-align: justify;
    }
    .links {
        @include flex-box(normal, center, row);
        column-gap: 32px;
        a {
            position: absolute;
        }
        button {
            align-items: center;
            appearance: none;
            background-color: #fcfcfd;
            border-radius: 4px;
            border-width: 0;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: inline-flex;
            // font-family: "JetBrains Mono", monospace;
            height: 48px;
            width: 160px;
            justify-content: center;
            line-height: 1;
            list-style: none;
            overflow: hidden;
            padding-left: 16px;
            padding-right: 16px;
            position: relative;
            text-align: left;
            text-decoration: none;
            transition: box-shadow 0.15s, transform 0.15s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            will-change: box-shadow, transform;
            font-size: 16px;
            // letter-spacing: 1.2px;
            font-weight: 500;
            cursor: pointer;
        }
        button:focus {
            box-shadow: #d6d6e7 0 0 0 1.5px inset,
                rgba(45, 35, 66, 0.4) 0 2px 4px,
                rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
        }
        // button:hover {
        //     box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        //         rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
        //     transform: translateY(-2px);
        // }
        button:active {
            box-shadow: #d6d6e7 0 3px 7px inset;
            transform: translateY(2px);
        }
        .resume {
            background: #0070ff;
            box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
                rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0057c6 0 -3px 0 inset;
        }
        .resume:hover {
            box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
                rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #83b8fd 0 -3px 0 inset;
        }
        .email {
            background: #ffa610;
            box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
                rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #c38010 0 -3px 0 inset;
        }
        .email:hover {
            box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
                rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #f5ca84 0 -3px 0 inset;
        }
        .call {
            background: #5cdb5c;
            box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
                rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3e8e48 0 -3px 0 inset;
        }
        .call:hover {
            box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
                rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #b2eaad 0 -3px 0 inset;
            // transform: translateY(-2px);
        }
        // box-shadow: rgb(73 32 160 / 40%) 0 2px 4px, rgb(84 24 210 / 30%) 0 7px 13px -3px, #7979b6 0 -3px 0 inset;
    }
    .contact-button {
        display: flex;
        column-gap: 32px;
    }
    .skills-section {
        @include flex-box(normal, normal, row);
        max-width: 100%;
        overflow-x: auto;
        column-gap: 16px;
        padding: 4px 2px 16px;

        .skill {
            height: 120px;
            width: 120px;
            flex-shrink: 0;
            background: #ffffff;
            border: 0 solid #e2e8f0;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
            box-sizing: border-box;
            border-radius: 8px;
            padding: 20px;
            position: relative;
            overflow: hidden;
            .tag {
                height: 80px;
                width: 80px;
                background: red;
                transform: rotate(45deg);
                position: absolute;
                top: -40px;
                left: -40px;
                display: flex;
                justify-content: center;
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4),
                    0px 0 4px 0px rgb(0, 0, 0);

                p {
                    transform: rotate(270deg);
                    position: relative;
                    bottom: -32px;
                    left: 29px;
                    font-size: 11px;
                    height: -moz-fit-content;
                    height: fit-content;
                    color: #fff;
                    font-weight: 600;
                }
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
        .skill {
            background: #ffffff;
            border: 0 solid #e2e8f0;
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1),
                0px 0px 2px 2px rgba(0, 0, 0, 0.06);
            box-sizing: border-box;
            border-radius: 8px;
        }
        // .skill:hover {
        //     background-color: #000;
        // }
    }
    .profile-image-container {
        width: 500px;
        height: 500px;
        overflow: hidden;
        // border: 0.5px solid;
        background-image: url("./../../assets/profile_portfolio.png");
        border-radius: 50%;
        background-size: auto 39em;
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(10deg);
        flex-shrink: 0;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1),
            0px 0px 5px -2px rgba(0, 0, 0);
        background-color: #b8e0ff;
        img {
            width: 100%;
            height: 100%;
            // background-color: yellow;
        }
    }
    .pdf-link {
        visibility: hidden;
    }
}

@media (width <= 1280px) {
    .about-component {
        row-gap: 40px;
        .profile-cover {
            background: black;
            width: 100%;
            // position: absolute;
            height: 250px;
            display: block;
        }
        .profile-image-container {
            height: 300px;
            width: 300px;
            background-size: auto 25em;
            position: absolute;
            top: 8.5em;
        }
        .intro-text-links {
            margin-top: 5em;
        }
        .intro-section {
            flex-direction: column;
            row-gap: 32px;
        }
    }
}

@media (width <= 640px) {
    .about-component {
        row-gap: 28px;
        .profile-cover {
            height: 200px;
        }
        .profile-image-container {
            height: 200px;
            width: 200px;
            background-size: auto 17em;
            top: 8.5em;
        }
        .me {
            h2 {
                font-size: 28px;
            }
            p {
                font-size: 16px;
            }
        }
        .text {
            font-size: 13px;
            font-weight: normal;
            row-gap: 4px;
            line-height: 28px;
        }
        .intro-text-links {
            margin-top: 4em;
            row-gap: 24px;
        }
        .links {
            flex-direction: column-reverse;
            row-gap: 16px;
            width: 100%;
            button {
                width: 100%;
                font-size: 14px;
            }
        }
        .contact-button {
            display: flex;
            column-gap: 16px;
            width: 100%;
            button {
                width: 50%;
            }
        }
        .skills-section {
            .skill {
                height: 85px;
                width: 85px;
                padding: 16px;
                tag {
                    height: 80px;
                    width: 80px;
                    top: -40px;
                    left: -40px;
                    p {
                        bottom: -25px;
                        left: 21px;
                        font-size: 9.5px;
                    }
                }
            }
        }
    }
}
