$color-dark-one: #2f2342;
$color-dark-two: #4062fa;

@mixin flex-box($alignItem, $justifyContent, $flexDirection) {
    display: flex;
    align-items: $alignItem;
    justify-content: $justifyContent;
    flex-direction: $flexDirection;
}

@mixin font-style($size, $weight, $height, $spacing, $color) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $spacing;
    color: $color;
}
