$color-dark-one: #2f2342;
$color-dark-two: #4062fa;

@mixin flex-box($alignItem, $justifyContent, $flexDirection) {
    display: flex;
    align-items: $alignItem;
    justify-content: $justifyContent;
    flex-direction: $flexDirection;
}

@mixin font-style($size, $weight, $height, $spacing, $color) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $spacing;
    color: $color;
}

@mixin CTA($color) {
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, $color 0 -3px 0 inset;
}
