@import "./../../Shared/Scss-snippets.scss";
header {
    @include flex-box(center, center);
    position: fixed;
    box-sizing: border-box;
    top: 1%;
    z-index: 999;
    height: 56px;
    width: 100%;
    // background-color: rgba(255, 255, 255, 255);
    background-color: transparent;
    // backdrop-filter: blur(100px);
    // color: ;
    padding: 8px 24px;
    // border-bottom: 2px solid #fff;
    .logo {
        @include flex-box(center, center);
        border: 2px solid #fff;
        border-radius: 50%;
        height: 35px;
        width: 35px;
    }
    .page-navigator {
        @include flex-box(center, center);
        column-gap: 32px;
        font-size: 14px;
        text-transform: uppercase;
    }
    .page-type {
        cursor: pointer;
        a {
            @include font-style(20px, 500, normal, 1.3px, $color-dark-one);
        }
    }
}
