* {
    font-family: "poppins";
    // letter-spacing: 1.3px;
    // Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif
    h1,
    p {
        margin: 0 !important;
    }
    a {
        text-decoration: none !important;
        color: inherit;
    }
}
.app-component {
    max-width: 1440px;
    position: relative;
    margin: auto;
    padding: 0 32px;
}
@media (width <= 1280px) {
    .app-component {
        padding: 0 24px;
    }
}
@media (width <= 640px) {
    .app-component {
        padding: 0 16px;
    }
}
