* {
    font-family: "JetBrains Mono", monospace;
    // letter-spacing: 1.3px;
    // Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif
    h1,
    p {
        margin: 0;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}
